* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url('/images/background.png') center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 527px;
  height: auto;
  border-radius: 40px;
  border: 3.5px;
  text-align: right;

  background: radial-gradient(
      100% 266.82% at 0% 2.79%,
      #0071dc 0%,
      #003a71 100%
    )
    radial-gradient(
      98.05% 261.61% at 1.95% 3.59%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    )
    radial-gradient(
      98.54% 262.92% at 0% 0%,
      #ffffff 0%,
      rgba(228, 242, 255, 0) 100%
    )
    radial-gradient(
      98.54% 262.92% at 1.46% 0%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border: 3.5px solid #fff;
  border-image-source: radial-gradient(
      98.54% 262.92% at 0% 0%,
      #ffffff 0%,
      rgba(228, 242, 255, 0) 100%
    )
    radial-gradient(100% 266.82% at 0% 2.79%, #0071dc 0%, #003a71 100%)
    radial-gradient(
      98.54% 262.92% at 1.46% 0%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  background: rgba(255, 255, 255, 0.233);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 0 60px 60px;
}

.heading {
  color: #fff;
  text-align: center;
  margin: 42px 0;
}

.form-control {
  width: 100%;
  margin-bottom: 8px;
}

.form-control > input {
  width: 100%;
  padding: 17px 20px;
  border: 2px solid #8e9ba3;
  border-radius: 6px;
  font-size: 15px;
  text-align: right;
  color: #64696b;
  transition: 0.15s all linear;
}
.form-control > input:focus {
  border: 2px solid rgba(0, 113, 220, 1);
}

::placeholder {
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
}

.subbmit-button {
  width: 100%;
  background: rgba(0, 58, 113, 1);
  height: 68.84956359863281px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: 0.15s all linear;
  margin-top: 20px;
}

.subbmit-button:hover {
  background: rgb(0, 48, 94);
}
.subbmit-button:active {
  background: rgb(0, 40, 77);
}

#password_error,
#config_password_error {
  margin: 6px 10px 0 0;
  display: inline-block;
  color: #8b0000;
  font-size: 14px;
  font-weight: 700;
}
