<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/styles/toastify.css" />
    <link rel="stylesheet" href="/styles/new-password.css" />
  </head>
  <body>
    <form id="form">
      <h1 class="heading">بازنشانی رمز عبور</h1>
      <div class="form-control">
        <input id="password" type="password" placeholder="رمز عبور جدید" />
        <small id="password_error"></small>
      </div>
      <div class="form-control">
        <input
          id="confirm_password"
          type="password"
          placeholder="تکرار رمز عبور"
        />
        <small id="config_password_error"></small>
      </div>

      <input type="hidden" id="token" value="<%=token%>" />
      <button class="subbmit-button">ذخیره</button>
    </form>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"
    ></script>
    <script src="/js/toastify.js"></script>
    <script src="/js/reset-password.js"></script>
  </body>
</html>
