<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ارسال پسورد ورود به پنل ادمین - شرکت آرشیدا تب ترنج</title>

    <style>
      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .main {
        width: 100%;
        color: white;
        display: grid;
        place-items: center;
        margin: 0 auto;
      }
      .wrapper {
        color: #fff;
        display: grid;
        place-items: center;
        padding: 40px 30px 60px;
        min-height: 280px;
        height: auto;
        border-radius: 40px;
        text-align: center;
        background-color: #05bbcc;
      }
      .heading {
        text-align: center;
        border-radius: 20px;
        padding: 16px 22px 0;
        color: white;
        font-size: 18px;
      }
      .code {
        font-size: 24px;
        font-weight: bold;
        color: white;
        margin-bottom: 12px;
      }
      p {
        color: white;
      }
      a {
        text-align: center;
        text-decoration: none;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="wrapper">
        <h2 class="heading">رمز عبور شما</h2>
        <p class="code"><%=password%></p>
        <div>
          <p>(شرکت ارشیدا طب ترنج)</p>
          <a href="https://www.arshidateb.com"><p>www.arshidateb.com</p></a>
        </div>
      </div>
    </div>
  </body>
</html>
